*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

Link{
    text-decoration: none;
}

.log-out-submit{
    background-color: black;
    color: white;
    padding: 8px;
    font-weight: bold;
    font-size: 15px;
}

nav{
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    align-items: center;
    background-color: black;
}

nav img{
    width: 10%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

nav .navbar-menu{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

nav .navbar-menu a{
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    color: white;
}

nav .navbar-menu a:hover{
    border-bottom: 1px solid #fff;
}
