*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: grey;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    border-bottom: 1px solid #fff;
}

span{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.sign-up-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://i.pinimg.com/originals/cc/86/23/cc8623225c627ce5c67f7134a3434c20.jpg");
}

.sign-up-form{
    background-color: black;
    padding: 2.5em;

    border: 2px solid red;
    border-radius: 25px;
}

.sign-up-container input{
    min-width: 299px;
    display: block;
    margin: 20px;
    padding: 15px 5px;
    font-size: 18px;
    font-weight: 400;
    border-width: 0 0 2px 0;
    border-color: black;
    outline: none;
    transition: border-color 0.2s;
}

.sign-up-container input:focus{
    border-color: #555;
}

.sign-up-submit{
    font-size: 18px;
    font-weight: 400;
    background-color: red;
    outline: none;
    cursor: pointer;
    min-width: 300px;
    display: block;
    margin: 20px;
    padding: 15px 5px;
    border-width: 0 0 2px 0;
    border-color: black;
    transition: border-color 0.2s;
}

.sign-up-submit:hover{
    background-color: #d4806b;
}

.sign-up-form .error-message{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
}

.country {
    font-size: large;
    padding: 15px 21px;
    margin: 20px;
}
